# 1. Generate wifi configuration (don't modify the name of wpa_supplicant-wlan0.conf file)
# $ wpa_passphrase MyNetwork SuperSecretPassphrase > /etc/wpa_supplicant/wpa_supplicant-wlan0.conf
#
# 2. Connect to wifi automatically after booting
# $ systemctl enable wpa_supplicant@wlan0
#
# 3.Systemd automatically makes dhcp request
# $ cp /etc/systemd/network/10-wlan-dhcp.network.example /etc/systemd/network/10-wlan-dhcp.network

[Match]
Name=wlan*

[Network]
DHCP=yes
